*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box; 
}

/* List Styles */
.contact_form ul {
    width: 750px;
    list-style-type: none;
    list-style-position: outside;
    margin: 0px;
    padding: 0px;
}

.contact_form li {
    padding: 12px;
    border-bottom: 1px solid #eee;
    position: relative;
}

h2
{
    margin-top: 20px;
    margin-left: 10px;
}

input[type=text]
{
    width: 15%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
}

input[type=image]
{
    width: 50%;
    height: 250px;
    margin-bottom: 10px;
}

input[type=submit]
{
    width: 10%;
    padding: 10px 15px;
    margin-bottom: 10px;
}

textarea
{
    width: 40%;
    height: 110px;
    margin-bottom: 10px;
    border-style: none;
    border-bottom: 1px solid gray;
}
